node_modules/
dist/
.DS_Store
*.local

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
